<div style="padding: 60px 40px">
  <div class="row">
    <div class="col-12 py-5 text-center">
      <img
        src="https://biohorizons.com/Content/Images/Logos/BioHorizons-logo.svg"
        style="width: 185px"
        alt="logo"
      />
    </div>
    <div class="col-6">
      <h6 class="text-orange">Nombres:</h6>
      <p>Carmen</p>
    </div>
    <div class="col-6">
      <h6 class="text-orange">Apellidos:</h6>
      <p>Avalo Saenz</p>
    </div>
    <div class="col-6">
      <h6 class="text-orange">Telefono:</h6>
      <p>944349337</p>
    </div>
    <div class="col-6">
      <h6 class="text-orange">Tipo Registro:</h6>
      <p>Manual</p>
    </div>
    <div class="col-12">
      <h6 class="text-orange">Doctores Asociados:</h6>
      <div style="background-color: #f1f1f1f1; border-radius: 8px">
        <p class="py-2 px-3">
          <i class="fas fa-user-doctor me-2"></i>Dr. Johan Flores
        </p>
      </div>
      <div style="background-color: #f1f1f1f1; border-radius: 8px">
        <p class="py-2 px-3">
          <i class="fas fa-user-doctor me-2"></i>Dr. Johan Flores
        </p>
      </div>
      <div style="background-color: #f1f1f1f1; border-radius: 8px">
        <p class="py-2 px-3">
          <i class="fas fa-user-doctor me-2"></i>Dr. Johan Flores
        </p>
      </div>
    </div>
  </div>
</div>
